{% extends 'inventory/base.html' %}
{% load static %} 
{% block content %}
<div >
  <div>
    <h2>Menu</h2>
    <table class="line-table">
      <thead>
        <tr class="h">
          <th>Menu</th>
          <th>Price</th>
          <th>Ingredients</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for menu in object_list %}
        <tr>
          <td>{{ menu.title }}</td>
          <td>{{ menu.price }}</td>
          
          <td><ul>
            {% for recipe in menu.recipe_requirements.all %}
            <li>
              {{ recipe.ingredient.name }}
            </li>
            {% endfor %}
          </ul></td>

          <td><a href="{% url "deleteMenu" menu.id %}" style="text-decoration: none; color: inherit;">❌</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <a class="add" href="{% url 'createMenu' %}">ADD MENU</a>
  </div>
</div>
  {% endblock %}