{% extends 'inventory/base.html' %}


{% block content %}
<h2>Purchases</h2>

<table>
    <thead>
        <tr>
            <th>Menu Item</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        {% for purchase in object_list %}
        <tr>
            <td>{{ purchase.menu_item.title }}</td>
            <td>{{ purchase.timestamp }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No purchases recorded</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="add" href="{% url 'createPurchase' %}">ADD PURCHASE</a>
{% endblock %}